src/Client/com/campus.wsdl

<!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Frontend/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Frontend/" name="FrontendImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://127.0.0.1:8080/Campus?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="createRoom">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:int"/>
        <part name="arg2" type="xsd:string"/>
        <part xmlns:ns1="http://jaxb.dev.java.net/array" name="arg3" type="ns1:stringArray"/>
    </message>
    <message name="createRoomResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="deleteRoom">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:int"/>
        <part name="arg2" type="xsd:string"/>
        <part xmlns:ns2="http://jaxb.dev.java.net/array" name="arg3" type="ns2:stringArray"/>
    </message>
    <message name="deleteRoomResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="bookRoom">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
        <part name="arg2" type="xsd:int"/>
        <part name="arg3" type="xsd:string"/>
        <part name="arg4" type="xsd:string"/>
    </message>
    <message name="bookRoomResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="cancelBooking">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
    </message>
    <message name="cancelBookingResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="changeReservation">
        <part name="arg0" type="xsd:string"/>
        <part name="arg1" type="xsd:string"/>
        <part name="arg2" type="xsd:string"/>
        <part name="arg3" type="xsd:int"/>
        <part name="arg4" type="xsd:string"/>
    </message>
    <message name="changeReservationResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="getAvailableTimeSlot">
        <part name="arg0" type="xsd:string"/>
    </message>
    <message name="getAvailableTimeSlotResponse">
        <part name="return" type="xsd:string"/>
    </message>
    <message name="shutdown"/>
    <message name="shutdownResponse"/>
    <portType name="FrontendInterface">
        <operation name="createRoom" parameterOrder="arg0 arg1 arg2 arg3">
            <input wsam:Action="http://Frontend/FrontendInterface/createRoomRequest" message="tns:createRoom"/>
            <output wsam:Action="http://Frontend/FrontendInterface/createRoomResponse" message="tns:createRoomResponse"/>
        </operation>
        <operation name="deleteRoom" parameterOrder="arg0 arg1 arg2 arg3">
            <input wsam:Action="http://Frontend/FrontendInterface/deleteRoomRequest" message="tns:deleteRoom"/>
            <output wsam:Action="http://Frontend/FrontendInterface/deleteRoomResponse" message="tns:deleteRoomResponse"/>
        </operation>
        <operation name="bookRoom" parameterOrder="arg0 arg1 arg2 arg3 arg4">
            <input wsam:Action="http://Frontend/FrontendInterface/bookRoomRequest" message="tns:bookRoom"/>
            <output wsam:Action="http://Frontend/FrontendInterface/bookRoomResponse" message="tns:bookRoomResponse"/>
        </operation>
        <operation name="cancelBooking" parameterOrder="arg0 arg1">
            <input wsam:Action="http://Frontend/FrontendInterface/cancelBookingRequest" message="tns:cancelBooking"/>
            <output wsam:Action="http://Frontend/FrontendInterface/cancelBookingResponse" message="tns:cancelBookingResponse"/>
        </operation>
        <operation name="changeReservation" parameterOrder="arg0 arg1 arg2 arg3 arg4">
            <input wsam:Action="http://Frontend/FrontendInterface/changeReservationRequest" message="tns:changeReservation"/>
            <output wsam:Action="http://Frontend/FrontendInterface/changeReservationResponse" message="tns:changeReservationResponse"/>
        </operation>
        <operation name="getAvailableTimeSlot">
            <input wsam:Action="http://Frontend/FrontendInterface/getAvailableTimeSlotRequest" message="tns:getAvailableTimeSlot"/>
            <output wsam:Action="http://Frontend/FrontendInterface/getAvailableTimeSlotResponse" message="tns:getAvailableTimeSlotResponse"/>
        </operation>
        <operation name="shutdown">
            <input wsam:Action="http://Frontend/FrontendInterface/shutdownRequest" message="tns:shutdown"/>
            <output wsam:Action="http://Frontend/FrontendInterface/shutdownResponse" message="tns:shutdownResponse"/>
        </operation>
    </portType>
    <binding name="FrontendImplPortBinding" type="tns:FrontendInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="createRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </output>
        </operation>
        <operation name="deleteRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </output>
        </operation>
        <operation name="bookRoom">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </output>
        </operation>
        <operation name="cancelBooking">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </output>
        </operation>
        <operation name="changeReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </output>
        </operation>
        <operation name="getAvailableTimeSlot">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </output>
        </operation>
        <operation name="shutdown">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://Frontend/"/>
            </output>
        </operation>
    </binding>
    <service name="FrontendImplService">
        <port name="FrontendImplPort" binding="tns:FrontendImplPortBinding">
            <soap:address location="http://127.0.0.1:8080/Campus"/>
        </port>
    </service>
</definitions>